{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="main-header">
                    Obrazek
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Wybierz projekt</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3><a href="{{ path('album_index')}}">Music Manager 2</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3><a href="{{ path('music_manager_manage_homepage_testBootstrap')}}">testBootstrap</a></h3>
            </div>
        </div>
    </div>
{% endblock %}
