body {
    background-color: #FCFBE3; #vanilia-cream-color
    color:            #fff;
}

.band-name {
    font-weight: bold;
}

.list-group-item {
    background-color: #FCFBE3;
}

.picture-small {
    width:      150px;
    height:     150px;
}

.list-album-header {
    margin:             0;
    padding:            15px;
    color:              #000;    
    background-color:   #FCFBE3;
    text-align:         center;    
}

.padding-btn {
    padding-bottom: 15px;
}